@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3> About </h3>
<p>FIS was founded by innovators for innovators and for innovation. The world runs on fintech and as the leader, FIS works to advance the way the world does business.
    Continual innovation means continuous news, informative press-releases and other important information.</p>
<img src="https://content.energage.com/company-images/SE96733/SE96733_logo_orig.png" alt="FIS Logo" width="500" height="600">
