@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table>
  <tr>
     <th>Employeee ID</th>
    <th>Employeee Name</th>
    <th>Job Profile</th>
    <th>Salary</th>
    <th>Department No.</th>
  </tr>
  <tr>
    <td>10</td>
    <td>Shivam</td>
    <td>SDE</td>
    <td>5000</td>
    <td>102</td>
  </tr>
  <tr>
    <td>20</td>
    <td>Lovis</td>
    <td>SDE</td>
    <td>5000</td>
    <td>102</td>
  </tr>
   <tr>
    <td>30</td>
    <td>Devanshu</td>
    <td>SDE</td>
    <td>5000</td>
    <td>103</td>
  </tr>
   <tr>
    <td>40</td>
    <td>Adarsh</td>
    <td>Product Engineer</td>
    <td>6000</td>
    <td>134</td>
  </tr>
   <tr>
    <td>50</td>
    <td>Tushar</td>
    <td>SDE</td>
    <td>5000</td>
    <td>104</td>
  </tr>
</table>
