@using WebApplication2.Models
@model Employee


<h3>Selected Product Details</h3>


<div>
    Employee Id   :  @Model.Emp_Id  <br/>
    Employee Name :  @Model.Emp_Name  <br/>
    Salary        :  @Model.Salary<br/>
    Job Profile   :  @Model.Job<br/>
</div>

<hr/>
 <a href="/Product/Index">Back to List</a>

